# IDE
.idea/
*.iml

# Maven
target/

# OS
.DS_Store
Thumbs.db

# Logs & temp
logs/
*.log
tmp/
.cache/

# Env & config
.env
application-local.properties
application-dev.properties
src/main/resources/application.properties

# Data folders — КРИТИЧЕСКИ ВАЖНО!
uploads/
volumes/postgres/

# Docker
docker-compose.override.yml